License Manager/Importer/Importer/Service References/ImportService/import_service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DarkBond.ClientModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DarkBond.ClientModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://development.darkbond.com/license_manager/import_service?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" />
  <xs:complexType name="ConstraintFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="constraintField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operationField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConstraintFault" nillable="true" type="tns:ConstraintFault" />
  <xs:complexType name="FormatFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormatFault" nillable="true" type="tns:FormatFault" />
  <xs:complexType name="OptimisticConcurrencyFault">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" minOccurs="0" name="keyElementsField" nillable="true" type="q1:ReadOnlyCollectionOfanyType" />
      <xs:element minOccurs="0" name="tableNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptimisticConcurrencyFault" nillable="true" type="tns:OptimisticConcurrencyFault" />
  <xs:complexType name="RecordNotFoundFault">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" minOccurs="0" name="KeyElements" nillable="true" type="q2:ReadOnlyCollectionOfanyType" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordNotFoundFault" nillable="true" type="tns:RecordNotFoundFault" />
  <xs:complexType name="InvalidOperationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidOperationFault" nillable="true" type="tns:InvalidOperationFault" />
</xs:schema>